body {
    background-color: rgb(66, 3, 3);
  }
  
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  p {
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: 20px;
  }
  hr {
      background-color: rgb(255,255,255);
      
  }
h2{
    color: rgb(255, 255, 255);
    font-size: 75px;
    text-align: center;
}
img{
    padding-right: 20px;
    padding-left: 20px;
}

wikia-gallery-caption {
    font-weight: 700;
    text-align: center;
}

wikia-gallery-caption {
    font-weight: 700;
    text-align: center;
}


