body {
    background-color: rgb(66, 3, 3);
  }
  
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  p {
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: 20px;
  }
  hr {
      background-color: rgb(255,255,255);
      
  }
h2{
    color: rgb(255, 255, 255);
    font-size: 75px;
    text-align: center;
}
img{
    padding-right: 20px;
    padding-left: 20px;
}

gallery-cap {
    font-weight: 700;
    text-align: center;
}

gallery-item {
    box-sizing: initial;
    display: inline-block;
    margin: 1px;
    padding: 1em;
    text-align: left;
    vertical-align: top;
    white-space: normal;
}
div {
    border: 0;
    font: normal normal normal 100% inherit;
    margin: 0;
    padding: 0;
    vertical-align: initial;
}

